In [1]:
import math
import pandas as pd
import numpy as np

In [2]:
# 유클리드 거리 공식
def ed(x1, x2):
    distance = 0
    for i in range(len(x1)):
        distance += (x1[i] - x2[i]) ** 2
    return math.sqrt(float(distance))

In [3]:
data = pd.read_csv('df1.csv')
data.head()

                                          Unnamed: 0    R    G    B
0  ./lfw_funneled\Aaron_Eckhart\Aaron_Eckhart_000...  202   24   24
1      ./lfw_funneled\Aaron_Eckhart\testfold\123.jpg  190   33   26
2    ./lfw_funneled\Aaron_Eckhart\testfold\face1.jpg  242  211  206
3    ./lfw_funneled\Aaron_Eckhart\testfold\face2.jpg  242  211  206
4  ./lfw_funneled\Aaron_Eckhart\testfold\realtest...  204   26   22

In [4]:
# 데이터와 쿨톤, 웜톤 RGB 비교
# 0번 Aaron
# 쿨톤
print(ed([202, 24, 24], [178, 183, 187]))
# 웜톤
print(ed([202, 24, 24], [240, 216, 190]))

228.9672465659663
256.6398254363496

In [5]:
# 1번 Aaron
# 쿨톤
print(ed([190, 33, 26], [178, 183, 187]))
# 웜톤
print(ed([190, 33, 26], [240, 216, 190]))

220.3746809413459
250.76881783826315

In [6]:
# 2번 Aaron
# 쿨톤
print(ed([242, 211, 206], [178, 183, 187]))
# 웜톤
print(ed([242, 211, 206], [240, 216, 190]))

72.39475119095306
16.881943016134134

In [7]:
# 4번 Aaron
# 쿨톤
print(ed([204, 26, 22], [178, 183, 187]))
# 웜톤
print(ed([204, 26, 22], [240, 216, 190]))

229.237867726953
256.1640099623677